body{
    background: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-bottom: 0px;
}
h3{
    color: #DA635F;
}
p{
    margin: 0px;
}
header{
    display: grid;
    padding: 2em;  
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0;
    border-radius: 15px;
    margin-top: 20px;
    justify-content: space-between; 
}
header li{
    float: left;  
}
header li button {
    display: block;
    color: #DA635F;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.3s;
  }
header li button:hover {
    background-color: #DA635F;
    color: white;
  }
header li button.active {
    background-color: #DA635F;
    color: white;
  }
  .tabcontent {
    display: none;
  }
.container{
      display: grid;
      grid-template-columns: 300px 1fr 400px;
      grid-template-rows: 200px 1fr 200px;
      grid-gap: 20px;
      padding-left: 2em;
      padding-right: 2em;
  }
.principal-new{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
  .second-news-block{
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
.third-block-news{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
.social-network{
    float: left;
}  
footer{
    /* width: 100%; */
    height: 70px;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 20px;

}
.social-network img{
    height: 48px;
    width: 48px;
    cursor: pointer;
}
footer p{
    float: right;
}