body{
    background: #F8F9FA;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-bottom: 0px;
}
h3{
    color: #DA635F;
    margin: 5px 0px;
}
p{
    margin: 0px;
}
/* header styles */
header{
    padding: 2em;  
}
header nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F0F0F0;
    border-radius: 15px;
    margin-top: 20px;   
}
header li{
  color: #DA635F;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}
header li button{
    color: #DA635F;
    padding: 14px 16px;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.1s;
    color: #DA635F;
    width: 100%;
}
header li button:hover {
    background-color: #DA635F;
    color: white;
    cursor: pointer;
  }
header li button.active {
    background-color: #DA635F;
    color: white;
}
  .tabcontent {
    display: none;
}
/* main styles */
.container{
      display: grid;
      grid-template-rows: 25% 1fr 15%;
      grid-gap: 20px;
      padding-left: 2em;
      padding-right: 2em;
}
.principal-new{
    grid-row: 1 / 2;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.principal-new_container{
 display: flex;
}
.text-section{
  padding-right: 30px;
  text-align: justify;
}
.principal-new_container img{
  width: 500px; 
  height: 250px;
  object-fit: cover;
  align-items: center;
  object-position: 0px -20px;
  padding: 4px;
  border: 1px solid black;
}
.second-news-block{
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.second-news-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
}
.second-news-containerOne{
  grid-row: 1 / 2;
  border-bottom: 1px solid #DA635F;
  display: flex;
}
.second-news-containerOne span{
  color: #DA635F;
}
.news-one{
  width: 70%;
  padding-left: 100px;
  margin-bottom: 50px;
}
.news-one a{
  color: #DA635F;
  text-decoration: none;
}
.second-news-containerTwo{
  grid-row: 2 / 3;
  border-bottom: 1px solid #DA635F;
  display: flex;
}
.second-news-containerTwo span{
  color: #DA635F;
}
.news-two{
  width: 70%;
  padding-left: 100px;
  margin-bottom: 50px;
}
.news-two a{
  color: #DA635F;
  text-decoration: none;
}
.second-news-containerThree{
  grid-row: 3 / 4;
  border-bottom: 1px solid #DA635F;
  display: flex;
}
.second-news-containerThree span{
  color: #DA635F;
}
.news-three{
  width: 70%;
  padding-left: 100px;
  margin-bottom: 50px;
}
.news-three a{
  color: #DA635F;
  text-decoration: none;
}
.second-news-containerFor{
  grid-row: 4 / 5;
  display: flex;
}
.second-news-containerFor span{
  color: #DA635F;
}
.news-for{
  width: 70%;
  padding-left: 100px;
  margin-bottom: 50px;
}
.news-for a{
  color: #DA635F;
  text-decoration: none;
}
.third-news-block{
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
}
.third-news-container{
  display: flex;
}
.third-news-container img{
  width: 400px; 
  height: 160px;
  object-fit: cover;
  align-items: center;
  object-position: 0px -35px;
}
.text-section-third{
  padding-left: 30px;
  text-align: justify;
}
/* footer styles */
footer{
    height: 70px;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 80px;
}
.social-network{
  float: left;
}  
.social-network img{
    height: 48px;
    width: 48px;
    cursor: pointer;
}
footer p{
    float: right;
}